{% extends "inicio/inicio.html" %}


{% block title_head %}Document{% endblock title_head %}

{% block contenido %}
<form action="">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if autos %}
    <ul>
        {% for auto in autos %}
        <li>
            {{auto}} |
            <a href={% url "detalle_auto" auto.id %}>Ver mas</a>|
            <a href={% url "borrar_auto" auto.id %}>Borrar</a>|
            <a href={% url "editar_auto" auto.id %}>Editar</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
No hay autos guardados.
{% endif %}

{% endblock contenido %}